<footer class='footer'>
    <div class='footer-wrapper container'>
        <img class='footer-logo' src='images/logo-name.png' alt='' />
        <p class='footer-description'>Вы знаете</p>
        <p class='footer-description'>Что происходит возле Вас?</p>
        <a class='footer-ref' href='/'>
            О нас
        </a>
    </div>
</footer>