<header class='header'>
    <div class='header-wrapper container'>
        <div class='header-logo'>
            <a class='header-logo-ref' href='/'>
                <img class='logo-ref-img' src='images/VirreoundLogo.png' alt='' />
            </a>
        </div>
        <nav class='header-nav'>
            <ul class='header-nav-list'>
                <li class='nav-item-leng'>
                    <button class='item-leng-button' type='button'>
                        <i class='fas fa-globe'></i> ru
                    </button>
                    <ul class='item-leng-list'>
                        <li class='leng-dropdown-item'>
                            <button class='leng-item-button' type='button'>
                                English
                            </button>
                        </li>
                        <li class='leng-dropdown-item'>
                            <button class='leng-item-button' type='button'>
                                Русский
                            </button>
                        </li>
                        <li class='leng-dropdown-item'>
                            <button class='leng-item-button' type='button'>
                                Français
                            </button>
                        </li>
                        <li class='leng-dropdown-item'>
                            <button class='leng-item-button' type='button'>
                                Español
                            </button>
                        </li>
                        <li class='leng-dropdown-item'>
                            <button class='leng-item-button' type='button'>
                                Português
                            </button>
                        </li>
                    </ul>
                </li>
                <li class='nav-item-link'>
                    <a id='login' class='item-rout-link' href='/login'>
                        Логин
                    </a>
                    <button id='logOut' class='item-rout-logout' type='button'>
                        logOut
                    </button>
                </li>
                <li class='nav-item-link'>
                    <a class='item-rout-link' href='/sign-up'>
                        Регистрация
                    </a>
                </li>
                <li class='nav-item-link'>
                    <a class='item-rout-link' href='#'>
                        О нас
                    </a>
                </li>
            </ul>
            <div class='header-menu-wrapper'>
                <button class='menu-hamburger-button' type='button'>
                    <i class='fas fa-bars'></i>
                </button>
                <ul class='header-menu-list'>
                    <li class='menu-item-leng'>
                        <button class='menu-leng-button' type='button'>
                            <i class='fas fa-globe'></i> ru
                        </button>
                        <ul class='menu-leng-dropdown'>
                            <li class='menu-dropdown-item'>
                                <button class='menu-dropdown-button' type='button'>
                                    English
                                </button>
                            </li>
                            <li class='menu-dropdown-item'>
                                <button class='menu-dropdown-button' type='button'>
                                    Русский
                                </button>
                            </li>
                            <li class='menu-dropdown-item'>
                                <button class='menu-dropdown-button' type='button'>
                                    Français
                                </button>
                            </li>
                            <li class='menu-dropdown-item'>
                                <button class='menu-dropdown-button' type='button'>
                                    Español
                                </button>
                            </li>
                            <li class='menu-dropdown-item'>
                                <button class='menu-dropdown-button' type='button'>
                                    Português
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li class='menu-item-rout'>
                        <a class='menu-rout-link' href=''>
                            <i class='fas fa-door-open'></i>
                        </a>
                    </li>
                    <li class='menu-item-rout'>
                        <a class='menu-rout-link' href=''>
                            <i class='fas fa-edit'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>